

.offers__text-saleUP{
    font-family: "PT Sans",cursive;
    /*font-size: 36px;*/
}
.offers__text-saleDOWN{
    color: black;
    text-decoration: none;
    font-family: "PT Sans",cursive;
    /*font-size: 14px;*/
}

.offers__body{
    position: relative;
    text-align: center;
}
.offers__body-img{
    width: 80%;
    height: 540px;
}

.offers__container{
    display: grid;
    gap: 5px;
}
